.calendar{
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.calendar tr, .calendar td{
    border: 1px solid black;
}

.calendar th{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td{
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
}

.month{
    font-size: 25px;
}

.date{
    font-size: 16px;
}

ul{
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a{
    color: #17a2b8;
}

.left{
    float: left;
}

.right{
    float: right;
}

.center{
    float: right;
    position: relative;
    left: -38.7%;
}

.login{
    float: left;
    position: relative;
    left: 45%;
}

.signup{
    float: left;
    position: relative;
    left: 45.5%;
}

.logout{
    float: right;
    position: relative;
}

.hello{
    float: right;
    position: relative;
    left: -0.5%;
}

.btn{
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix{
    margin: 15px;
}

.form{
    margin: auto;
}

.form input, .form select, .form textarea{
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}

h2{
    float: left;
    position: relative;
    left: 47%;
}