{% extends 'calendar_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="clearfix">
            <a class="btn btn-info logout" href="{% url 'logout' %}"> Logout </a>
            <p class="btn btn-info hello"> Hello, {{ user.username }}! </p>
        </div>
        <div class="clearfix">
            <a class="btn btn-info left" href="{% url 'calendar_app:calendar' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn btn-info right" href="{% url 'calendar_app:calendar' %}?{{ next_month }}"> Next Month </a>
            <a class="btn btn-info center" href="{% url 'calendar_app:event_new' %}?{{ event_new }}"> Create Event </a>
        </div>
        {{ calendar }}
    {% else %}
{#        <p>You are not logged in</p>#}
        <div class="clearfix">
            <a class="btn btn-info login"  href="{% url 'login' %}">Login</a>
            <a class="btn btn-info signup"  href="{% url 'calendar_app:signup' %}">Signup</a>
        </div>
    {% endif %}

{% endblock %}