{% extends 'calendar_app/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="clearfix">
        <h2>Login</h2>
    </div>
        <form method="post">
            {% csrf_token %}
            <table class="form form-table">
                {{ form }}
                <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Login </button></td></tr>
            </table>
        </form>
{% endblock %}